button{
    font-size: 20px;
}
body{
    margin: 10%;
}
.main{
    background-color: aquamarine;
  
    width: 400px;

    display:grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid black;
}

.item{
    border: 1px solid black;
    padding: 15%;
}
/* .item:hover{
    background-color: antiquewhite;
} */

.inpt{
    grid-column: 1/-1;
    /* justify-content: center; */
    color: white;
    background-color: black;
    text-align: right;

    
}

.item8{
    padding: 20px;
    align-content: center;
    grid-row: span 4 ;
    background-color: rgb(226, 95, 95);
    /* border: 1px solid black; */
}

.item1,.item2,.item3,.item4{
    background-color: aliceblue;
}

